<ion-header>
    <ion-card class="text-card">
  <ion-toolbar>
    <ion-title>
      PAD COOKING
    </ion-title>
  </ion-toolbar>
</ion-card>
</ion-header>
<ion-content>
  <p> <b>BROWNIS ROMANTIS</b></p>
  <ion-img src="/assets/Res.jpg"></ion-img>
  Keterangan  : <br>BROWNIS ROMANTIS SIMPLE
                <br>ALAT DAN BAHAN
                <br>MIXSER
                <br>BASKOM
                <br>PENGUKUS, SENDOK,SPATULA, loyang
                <br>TELUR,
                <br>GULA
                <br>TEPUNG TRIGU
                <br>PENGEMANG DAN PEWANGI JIKA PERLU
                <br>COKLAT BATANG
                <br>MARGARIN,SERES,KEJU
                <br>CARA : SIAPKAN ALAT DAN BAHAN 
                <br>     campurkan bahan telur, pengembang ,gula ,tepung kemudiang mixser hingga mengembang dan berubah warna menjadi  putih tulang
                <br>     sembaring mengadon lelehkan margarin dan coklat batangnya
                <br>     setelah adonan jadi masukakkan bahan yang telah dilelehkan kemudian aduk rata
                <br>     setelah itu siapkan loyang ukuran 16x16 olehkan mingyak makan pada loyanmg
                <br>     masukkan adonan keladam loyang kemudian kukus selama 45 menit saja
                <br>     kemudian angkat dan hias menggunakn toping sesuai selera
  

    <p> <b>BOLUE KOJOO SUMATRA</b></p>
    <ion-img src="/assets/q.jpg"></ion-img>
    Keterangan  : <br>BOLUE KOJOO SUMATRA
                  <br>ALAT DAN BAHAN
                  <br>MIXSER
                  <br>BASKOM
                  <br>PENGUKUS, SENDOK,SPATULA, loyang
                  <br>PEMANGGANG
                  <br>TELUR,
                  <br>GULA
                  <br>TEPUNG TRIGU
                  <br>SANTAN CAIR 1LITER
                  <br>AIR DAUN PANDAN 500ML
                  <br>MARGARIN
                  <br>CARA : SIAPKAN ALAT DAN BAHAN 
                  <br>    mixser telur 5 butir dan gula 250grm hingga mengembang
                  <br>    masukkan tepung trigu sebanyak 300grm dan campur menggunakan SPATULA
                  <br>    Kemudian campurkan santan kental sedikit demi sedikit hingga kalis di SPATULA
                  <br>    kemudian masukkan air pandan secukupnya sesuai selera (biasanya hingga warna menjadi hijau muda dan wanginya sudah mantul)
                  <br>    kukus hingga mengembang, kemudian angkat dan panggang hingga matang
                  <br>    dengan ini bolue sdah matang dan siap disajikan 
    
    
    <p> <b>8 JAM MANJALITA</b></p>
    <ion-img src="/assets/jam.jpg"></ion-img>
    Keterangan  : <br>8 JAM MANJALITA
                  <br>ALAT DAN BAHAN
                  <br>MIXSER
                  <br>BASKOM
                  <br>PENGUKUS, SENDOK,SPATULA, loyang
                  <br>PEMANGGANG
                  <br>TELUR 25 BUTIR
                  <br>GULA
                  <br>TEPUNG TRIGU
                  <br>SANTAN CAIR 1LITER
                  <br>AIR DAUN PANDAN 500ML
                  <br>MARGARIN
                  <br>CARA : SIAPKAN ALAT DAN BAHAN 
                  <br>    Seperti biasa kosoklah telur25 butir dan gula 500grm hingga mengembang
                  <br>    masukkan tepung 250grm saja kemudian kocok hingga rata
                  <br>    kemudian masukkan garam sedikit saja lalu campurkan lagi hingga rata
                  <br>    panggang hingga adonan menjadi padat sambil tusuk" mengunakan lidi
                  <br>    adonan yang matang akan berwarna kuning emas dan tidak lengkat lagi biasanya di panggang sekitar 7 Jam
                  <br>    siapkan kue dan hiaslah karna sudah bisa dinioikmati


                  
  <p> <b>TEMPOYAK IKAN NILA </b></p>
    <ion-img src="/assets/temp.jpg"></ion-img>
    Keterangan  : <br>TEMPOYAK IKAN NILA 
                  <br>ALAT DAN BAHAN
                  <br>TEPLON KUKUS/PANGGANG
                  <br>LIDI TUSUK
                  <br>DAUN PISANG
                  <br>iKAN NILA 4 EKOR YG SUDAH DI SIANGI
                  <br>KUNYIT, JAHE ,JERUK LEMON
                  <br>tEMPOYAK DURIAN ASLI 500 GRM
                  <br>KEMANGI,SERAI
                  <br>GULA, GARAM
                  <br>LAUS,BAWANG BRAMBANG
                  <br>KEMIRI,MERICA
                  <br>MARGARIN
                  <br>CARA : SIAPKAN ALAT DAN BAHAN 
                  <br>    HALUSKAN SEMUA BUMBU KECUALI SERAI DAN KEMANGI
                  <br>    siapkan baskom kemudian tutuslah serak 4 siung
                  <br>    campurkan semua bahan kemudian diamkan 5 menit
                  <br>    siapkan 4 ekor ikannya kemudian balurlah dengan bumbu yang kita siapkan hingga ke perutnya
                  <br>    bungkuskan ikan yang telah dibumbui dengan dahun pisang
                  <br>    siapkan teplon dan panaskan margarin sedikit saja lalu panggang hingga matang
                  <br>    hemm ikan siap di santap
  
  <p> <b>RODEO SIMPLE</b></p>
    <ion-img src="/assets/pandan.jpg"></ion-img>
    Keterangan  : <br>RODEO SIMPLE
                  <br>ALAT DAN BAHAN
                  <br>MIXSER
                  <br>BASKOM
                  <br>PENGUKUS, SENDOK,SPATULA, loyang
                  <br>TELUR,
                  <br>GULA
                  <br>TEPUNG TRIGU
                  <br>PENGEMANG DAN PEWANGI JIKA PERLU
                  <br>COKLAT BATANG
                  <br>MARGARIN,SERES,KEJU
                  <br>CARA : SIAPKAN ALAT DAN BAHAN 
                  <br>     campurkan bahan telur, pengembang ,gula ,tepung kemudiang mixser hingga mengembang dan berubah warna menjadi  putih tulang
                  <br>     sembaring mengadon lelehkan margarin dan coklat batangnya
                  <br>     setelah adonan jadi masukakkan bahan yang telah dilelehkan kemudian aduk rata
                  <br>     setelah itu siapkan loyang ukuran 16x16 olehkan mingyak makan pada loyanmg
                  <br>     masukkan adonan keladam loyang kemudian kukus selama 45 menit saja
                  <br>     kemudian angkat dan hias menggunakn toping sesuai selera

 
   <p> <b>SEMPRONG LUMER</b></p>
      <ion-img src="/assets/bolu.png"></ion-img>
      Keterangan  : <br>SEMPRONG LUMER
                                <br>ALAT DAN BAHAN
                                <br>MIXSER
                                <br>BASKOM
                                <br>PENGUKUS, SENDOK,SPATULA, loyang
                                <br>PEMANGGANG
                                <br>TELUR,
                                <br>GULA
                                <br>TEPUNG TRIGU
                                <br>SANTAN CAIR 1LITER
                                <br>AIR DAUN PANDAN 500ML
                                <br>MARGARIN
                                <br>CARA : SIAPKAN ALAT DAN BAHAN 
                                <br>    mixser telur 5 butir dan gula 250grm hingga mengembang
                                <br>    masukkan tepung trigu sebanyak 300grm dan campur menggunakan SPATULA
                                <br>    Kemudian campurkan santan kental sedikit demi sedikit hingga kalis di SPATULA
                                <br>    kemudian masukkan air pandan secukupnya sesuai selera (biasanya hingga warna menjadi hijau muda dan wanginya sudah mantul)
                                <br>    kukus hingga mengembang, kemudian angkat dan panggang hingga matang
                                <br>    dengan ini bolue sdah matang dan siap disajikan 
                  
  </ion-content>
  