<ion-header>
  <ion-card class="text-card">
  <ion-toolbar>
    <ion-title>
      WELCOME PAD COOK AULIA
    </ion-title>
  </ion-toolbar>
  </ion-card>
</ion-header>
<ion-card-content>
  <p> <ion-img src="/assets/ab.jpg"></ion-img> </p>
</ion-card-content>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Res.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><h2><b> RESEP MAKANAN SIMPLE PEMULA</b></h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
         <b><h1> KUMPULAN RESEP SIMPLE DARI AULIA</h1></b> 
        </p>
      </ion-card-content>

   